SpaceInvaders/Content/Meshes/Defender/SM_Defender.uasset filter=lfs diff=lfs merge=lfs -text
SpaceInvaders/Content/Meshes/Invader/SM_Invader1.uasset filter=lfs diff=lfs merge=lfs -text
SpaceInvaders/Content/Meshes/Invader2/SM_Invader2.uasset filter=lfs diff=lfs merge=lfs -text
